/**
 * MADC Internet Explorer stylesheet
 */
.above-header .widget-area li, 
.above-header .widget-area li.widget_nav_menu li a {
	border-radius: 8px;
	box-shadow: 0 8px 16px;
	border: none;
	border-bottom: 3px solid #000;
	border-left: 1px solid #000;
	border-right: 2px solid #000;
	/*behavior: url(wp-content/themes/madc/scripts/ie-css3.htc);*/
}

.above-header .widget-area li.widget_nav_menu, 
.above-header .widget-area li.widget_nav_menu li {
	border-radius: 0;
	box-shadow: none;
	filter: none;
	behavior: none;
	border: none;
}

.no-js .above-header .widget-area li.widget_nav_menu li a:hover, 
.above-header .widget-area li.widget_nav_menu li a.hover, 
.above-header .widget-area li.widget_nav_menu li.hover a, 
.above-header .widget-area li.widget_nav_menu li a:focus, 
.above-header .widget-area li.widget_nav_menu li.current-menu-item a, 
.above-header .widget-area li.widget_nav_menu li.current-page-ancestor a {
	background: #f9b537;
	color: #40343d;
	text-decoration: underline;
}
